<%= form_for @customer, html: { class: "reply", id: "contact" } do |f| %>
   <fieldset>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= f.text_field :nome, class: "form-control small", value: "", required: true, placeholder: "Nome" %>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <%= f.email_field :email, class: "form-control small", value: "", required: true, placeholder: "E-mail" %>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= f.text_field :telefone, class: "form-control small telefone", value: "", required: true, placeholder: "Telefone" %>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= f.text_field :endereco, class: "form-control small", value: "", required: true, placeholder: "Endereço Completo" %>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= f.text_field :profissao, class: "form-control small", value: "", required: true, placeholder: "Profissão (Cabeleireiro, Manicure / Pedicure, Esteticista...)" %>
         </div>
      </div>
      <%= f.hidden_field :dispositivo, value: request.user_agent %>
      <%= f.hidden_field :price %>
   </fieldset>
   <%= f.submit 'Eu Quero mais Clientes AGORA!', class: "btn-small btn-color btn-extended submit  bottom-pad" %>
   <div class="clearfix"></div>
<% end %>