<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Conquiste e Fidelize clientes automaticamente | SafiraSalões</title>
  <meta name="keywords" content="divulgação para salão de beleza, sistema para salão de beleza, marketing para salão de beleza, sistema para cabeleireiro, marketing para salões de beleza, sistema para salões de beleza">
  <meta name="description" content="O SafiraSalões foi feito pra você, profissional da beleza, que deseja conquistar e fidelizar clientes de modo ridiculamente simples e automático">
  <meta name="author" content="SafiraSalões - Conquista e Fideliza clientes para profissionais da beleza automaticamente">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" href="safirasaloes.com.br" hreflang="pt-br" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "fb_pixel" if Rails.env.production? %>
  <%= render "kissmetrics.html" if Rails.env.production? %>
  <%= render "woopra.html" if Rails.env.production? %>
  <%= favicon_link_tag 'favicon.png', rel: "shortcut icon" %>

  <%= render "analytics" %>
  <%= render "crazyegg" %>
  
</head>
<body class="home" data-spy="scroll" data-offset="250" data-target="#myScrollSpy">

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= render "footer" %>
</div>

</body>
</html>