<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>SafiraSalões</title>
  <meta name="description" content="Mais Rendimentos Clientes Reconhecimento Dinheiro Salão de Beleza Spa Estética">
  <meta name="author" content="safirasaloes.com.br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render "fb_conversion_pixel" if request.path == obrigado_path %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', rel: "shortcut icon" %>
</head>
<body class="home" data-spy="scroll" data-offset="250" data-target="#myScrollSpy">

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= render "footer" %>
</div>

</body>
</html>